<!DOCTYPE html>
<html th:fragment="layout (title, panelForm, panelFooter)" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/auth.css}" />
</head>
<body>
<main>
    <div class="l-container | l-auth">
        <div class="auth-panel__header">
            <img src="/img/logo-unoesc-colorido.png" alt="">
        </div>
        <div class="auth-panel__content">
            <div th:replace="${panelForm}"></div>
        </div>
        <div th:replace="${panelFooter}"></div>
    </div>
</main>
</body>
</html>