<!DOCTYPE html>
<html th:fragment="layout (title, panelForm, panelFooter)" xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/auth.css}" />
</head>

<body>
    <main>
        <div class="auth | l-container u-flow">
            <div class="auth__header">
                <img th:src="@{/img/logo-unoesc-colorido.png}" alt="">
            </div>
            <div class="auth__content">
                <div th:replace="${panelForm}"></div>
            </div>
            <div class="auth__footer" th:if="${panelFooter}">
                <hr>
                <div th:replace="${panelFooter}"></div>
            </div>
        </div>
    </main>
</body>

</html>