<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR"
    th:replace="~{auth/auth :: layout(~{ :: title}, ~{ :: #auth-form}, ~{ :: .auth__action})}">

<head>
    <title>Login</title>
</head>

<body>

    <form method="post" id="auth-form" action="/login">
        <fieldset class="auth-form" form="auth-form">
            <div class="auth-form__field">
                <label class="auth-form__label">
                    Usuário:<br>
                    <input required class="auth-form__input" type="text" name="username" id="username" />
                </label>
            </div>

            <div class="auth-form__field">
                <label class="auth-form__label">
                    Senha:<br>
                    <input required class="auth-form__input" id="password" type="password" name="password"
                        maxlength="40" />
                </label>
            </div>

            <div th:if="${loginError}" class="auth-form__error">
                <p>Usuário ou senha incorretos</p>
            </div>

            <button type="submit" class="auth-form__btn | btn">Entrar</button>
        </fieldset>
    </form>

    <a href="/cadastro" class="auth__action" style="--action-icon: url('../icons/signup.svg');">
        Ainda não possui conta?
    </a>

</body>

</html>