<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{static/css/auth.css}" />
    <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
</head>

<body>
    <main class="persons l-container">
        <a href="/logout" class="persons__logout-action">Sair</a>
        <div class="persons__content">
            <div th:replace="${content}"></div>
        </div>
    </main>
</body>

</html>