<!DOCTYPE html>
<html th:fragment="layout (title, sectionTitle, content)" xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:replace="${title}"></title>
    <link rel="stylesheet" href="/static/css/persons.css" />
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
</head>

<body>
    <main>
        <div class="persons | l-container u-flow">
            <div class="persons__header">
                <h1 th:text="${sectionTitle}"></h1>
                <form action="/logout" method="post" th:id="logout-form">
                    <button type="submit" class="persons__logout-action">Sair</button>
                </form>
            </div>
            <div class="persons__content">
                <div th:replace="${content}"></div>
            </div>
        </div>
    </main>
</body>

</html>