<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR"
    th:replace="~{persons/base :: layout(~{ :: title}, ${person.name}, ~{ :: .person-details})}">

<head>
    <title th:text="|Detalhes de ${person.name}|"></title>
</head>

<body>

    <div class="person-details | u-flow">
        <a th:href="|/pessoas/${person.id}/editar|" class="person-list__btn | btn btn--inverted">Editar dados</a>

        <table class="person-table" th:unless="${isListEmpty}">
            <caption class="person-table__caption">
                <h2>Detalhes</h2>
            </caption>

            <thead class="person-table__head">
                <th class="person-table__header">ID</th>
                <th class="person-table__header">Nome</th>
                <th class="person-table__header">CPF</th>
                <th class="person-table__header">Nascimento</th>
                <th class="person-table__header">Sexo</th>
            </thead>

            <tbody>
                <tr class="person-table__row" th:each="person: ${list}">
                    <td class="person-table__cell" th:text="${person.id}"></td>
                    <td class="person-table__cell person-table__cell--fill" th:text="${person.name}"></td>
                    <td class="person-table__cell" th:text="${person.cpf}"></td>
                    <td class="person-table__cell" th:text="${person.birthdate}"></td>
                    <td class="person-table__cell" th:text="${person.gender}"></td>
                    <td class="person-table__cell person-table__cell--no-bg">
                        <a class="person-table__detail-action | btn" th:href="|/pessoas/${person.id}|">Detalhes</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>