<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR"
    th:replace="~{persons/base :: layout(~{ :: title}, ${person.name}, ~{ :: .person-details},  ~{ :: script})}">

<head>
    <title th:text="|Detalhes de ${person.name}|"></title>
    <script src="/static/js/sort_table.js"></script>
</head>

<body>

    <div class="person-details | u-flow">
        <div class="person-details__info">
            <h2>Detalhes</h2>

            <a th:href="|/pessoas/${person.id}/editar|" class="person-list__btn | btn btn--inverted">Editar dados</a>

            <div class="person-details__field">
                <span class="person-details__label">ID:</span>
                <span th:text="${person.id}" class="person-details__value"></span>
            </div>

            <div class="person-details__field">
                <div class="person-details__label">Nome:</div>
                <div th:text="${person.name}" class="person-details__value"></div>
            </div>

            <div class="person-details__field">
                <div class="person-details__label">CPF:</div>
                <div th:text="${person.cpf}" class="person-details__value"></div>
            </div>

            <div class="person-details__field">
                <div class="person-details__label">Nascimento:</div>
                <div th:text="${person.birthdate}" class="person-details__value"></div>
            </div>

            <div class="person-details__field">
                <div class="person-details__label">Sexo:</div>
                <div th:text="${person.gender.toUpperCase()}" class="person-details__value"></div>
            </div>
        </div>

        <hr class="person-details__ruler">

        <div class="person-table__caption | u-flow">
            <h2>Contatos</h2>

            <div th:unless="${isListFull}">
                <a th:href="|/pessoas/${person.id}/contatos/cadastro|" class="person-list__btn | btn btn--inverted">
                    Adicionar contato
                </a>
            </div>

            <div th:if="${isListFull}" class="person-list__full">
                <p>Você já atingiu o limite máximo de 5 contatos</p>
            </div>

        </div>

        <div class="person-table__wrapper" th:with="isListEmpty = ${person.contacts == null or person.contacts.empty}">
            <table class="person-table" th:with="isListFull = ${person.contacts.size >= 5}">
                <thead th:unless="${isListEmpty}" class="person-table__head">
                    <th class="person-table__header">ID</th>
                    <th class="person-table__header">Nome</th>
                    <th class="person-table__header">Telefone</th>
                    <th class="person-table__header">E-mail</th>
                </thead>

                <tbody th:unless="${isListEmpty}">
                    <tr class="person-table__row" th:each="contact: ${person.contacts}">
                        <td class="person-table__cell" th:text="${contact.id}"></td>
                        <td class="person-table__cell person-table__cell--fill" th:text="${contact.name}"></td>
                        <td class="person-table__cell" th:text="${contact.phone}"></td>

                        <td th:if="${contact.email == null or contact.email.empty}" class="person-table__cell">
                            N/A
                        </td>
                        <td th:unless="${contact.email == null or contact.email.empty}" class="person-table__cell"
                            th:text="${contact.email}">
                        </td>

                        <td class="person-table__cell person-table__cell--no-bg">
                            <a class="person-table__detail-action | btn"
                                th:href="|/pessoas/${person.id}/contatos/${contact.id}/editar|">Editar</a>
                        </td>

                        <td class="person-table__cell person-table__cell--no-bg">
                            <form th:action="|/pessoas/${person.id}/contatos/${contact.id}/deletar|" method="post"
                                th:id="|delete-contact-form-${contact.id}|">
                                <button type="submit" class="person-table__detail-action | btn btn--red"
                                    style="--icon: url('../icons/delete.svg')">Deletar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <tbody th:if="${isListEmpty}" class="person-list__empty">
                <p>Ainda não existe nenhum contato cadastrado</p>
            </tbody>
        </div>

        <hr class="person-details__ruler">

        <div class="person-table__caption | u-flow">
            <h2>Endereços</h2>

            <div th:unless="${isListFull}">
                <a th:href="|/pessoas/${person.id}/enderecos/cadastro|" class="person-list__btn | btn btn--inverted">
                    Adicionar endereço
                </a>
            </div>

            <div th:if="${isListFull}" class="person-list__full">
                <p>Você já atingiu o limite máximo de 5 endereços</p>
            </div>
        </div>

        <div class="person-table__wrapper"
            th:with="isListEmpty = ${person.addresses == null or person.addresses.empty}">

            <table class="person-table" th:with="isListFull = ${person.addresses.size >= 5}">
                <thead th:unless="${isListEmpty}" class="person-table__head">
                    <th class="person-table__header">ID</th>
                    <th class="person-table__header">Nome</th>
                    <th class="person-table__header">CEP</th>
                    <th class="person-table__header">Logradouro</th>
                    <th class="person-table__header">Número</th>
                    <th class="person-table__header">Bairro</th>
                    <th class="person-table__header">Município</th>
                    <th class="person-table__header">Estado</th>
                </thead>

                <tbody th:unless="${isListEmpty}">
                    <tr class="person-table__row" th:each="address: ${person.addresses}">
                        <td class="person-table__cell" th:text="${address.id}"></td>
                        <td class="person-table__cell person-table__cell--fill" th:text="${address.name}"></td>
                        <td class="person-table__cell" th:text="${address.cep}"></td>
                        <td class="person-table__cell" th:text="${address.street}"></td>
                        <td class="person-table__cell" th:text="${address.number}"></td>
                        <td class="person-table__cell" th:text="${address.district}"></td>
                        <td class="person-table__cell" th:text="${address.city}"></td>
                        <td class="person-table__cell" th:text="${address.state}"></td>

                        <td class="person-table__cell person-table__cell--no-bg">
                            <a class="person-table__detail-action | btn"
                                th:href="|/pessoas/${person.id}/enderecos/${address.id}/editar|">Editar</a>
                        </td>

                        <td class="person-table__cell person-table__cell--no-bg">
                            <form th:action="|/pessoas/${person.id}/enderecos/${address.id}/deletar|" method="post"
                                th:id="|delete-address-form-${address.id}|">
                                <button type="submit" class="person-table__detail-action | btn btn--red"
                                    style="--icon: url('../icons/delete.svg')">Deletar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <tbody th:if="${isListEmpty}" class="person-list__empty">
                <p>Ainda não existe nenhum endereço cadastrado</p>
            </tbody>
        </div>

    </div>

</body>

</html>