<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR"
    th:replace="~{persons/base :: layout(~{ :: title}, ${editMode} ? 'Editar Pessoa' : 'Cadastrar Pessoa', ~{ :: #person-form}, null)}">

<head>
    <title th:text="${editMode} ? 'Editar Pessoa' : 'Cadastrar Pessoa'"></title>
</head>

<body>

    <form th:action="${editMode} ? |/pessoas/${person.id}/editar| : '/pessoas/cadastro'" th:object="${person}"
        method="post" id="person-form">
        <fieldset class="person-form | u-flow" form="register-person-form">
            <div class="person-form__fields">
                <div class="person-form__field">
                    <label class="person-form__label">
                        Nome:<br>
                        <input required th:field="*{name}" class="person-form__input" type="text" name="name"
                            id="name" />
                    </label>
                </div>

                <div class="person-form__field">
                    <label class="person-form__label">
                        CPF:<br>
                        <input required th:field="*{cpf}" class="person-form__input" id="cpf" type="text" name="cpf"
                            pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})" />
                    </label>
                </div>

                <div class="person-form__field">
                    <label class="person-form__label">
                        Data de nascimento:<br>
                        <input required th:field="*{birthdate}" class="person-form__input" id="birthdate" type="date"
                            name="birthdate" />
                    </label>
                </div>

                <div>
                    <label class="person-form__label">
                        Sexo:<br>

                        <select required th:field="*{gender}" name="gender" id="gender">
                            <option value="masculino">Masculino</option>
                            <option value="feminino">Feminino</option>
                            <option value="outro">Outro</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="person-form__footer | u-flow">
                <div th:if="${errorMessage} != null" class="person-form__error">
                    <p th:text="${errorMessage}"></p>
                </div>

                <button th:text="${editMode} ? 'Editar Pessoa' : 'Cadastrar Pessoa'" type="submit" class="btn"></button>
            </div>
        </fieldset>
    </form>

</body>

</html>