@import url("root.css");

.persons {
    --gap: 2rem;
}

.persons__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.persons__logout-action {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.persons__logout-action::after {
    content: "";
    display: inline-block;
    --size: 2rem;
    height: var(--size);
    width: var(--size);
    background-image: url("../icons/login.svg");
    background-size: contain;
}

.person-list__btn {
    width: 20%;
    padding: 1rem;
}

.person-list__btn::before {
    content: "";
    display: inline-block;
    --size: 2rem;
    vertical-align: -25%;
    height: var(--size);
    width: var(--size);
    background-image: url("../icons/person_add.svg");
    background-size: contain;
    margin-right: 1em;
}

.person-form {
    border: 0;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: start;
}

.person-form__fields {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
}

.person-form__label {
    color: var(--clr-primary);
    font-size: var(--fs-500);
}

.person-form__footer {
    width: 100%;
}

.person-form__error {
    color: var(--clr-error);
    text-align: start;
    margin-inline-end: auto;
}

.person-table__caption {
    text-align: start;
}

.person-table__header {
    text-align: start;
}

.person-table__cell {
    background-color: var(--clr-accent-light);
    border-radius: 5px;
    padding: 0.5em 1em;
}

.person-table__cell--fill {
    width: 100%;
}

.person-table__cell--no-bg {
    background-color: var(--clr-light);
}

.person-table__detail-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-table__detail-action::after {
    content: "";
    display: inline-block;
    --size: 1.5rem;
    height: var(--size);
    width: var(--size);
    background-image: url("../icons/arrow_foward.svg");
    background-size: contain;
    margin-left: 1em;
}